body {
    background-image: url("./snow.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
};

.countdown-container {
    display: flex;
    flex-direction: column;
    
};

.countdown-numbers {
    display: flex;

};

p {
    font-weight: bold;
}


