body {
    background-image: url("./snow.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;

}

.countdown-container {
    display: flex;
    justify-content: center;
}

.time {
    text-align: center;
    padding:5%;
}

p {
    font-weight: bold;
    font-size: 120%;
}
